<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lsh.ofc.core.dao.OfcOrderHeadDAO">

    <resultMap id="resultMap" type="OfcOrderHead">
        <id     property="id"                 column="id"                    jdbcType="BIGINT"  javaType="java.lang.Long" />
        <result property="orderCode"          column="order_code"            jdbcType="BIGINT"  javaType="java.lang.Long" />
        <result property="regionCode"         column="region_code"           jdbcType="INTEGER" javaType="java.lang.Integer" />
        <result property="addressCode"        column="address_code"          jdbcType="BIGINT"  javaType="java.lang.Long" />
        <result property="addressInfo"        column="address_info"          jdbcType="VARCHAR" javaType="java.lang.String" />
        <result property="orderAmount"        column="order_amount"          jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
        <result property="orderTime"          column="order_time"            jdbcType="INTEGER" javaType="java.lang.Integer" />
        <result property="warehouseCode"      column="warehouse_code"        jdbcType="VARCHAR" javaType="java.lang.String" />
        <result property="warehouseName"      column="warehouse_name"        jdbcType="VARCHAR" javaType="java.lang.String" />
        <result property="totalSkuOrderQty"   column="total_sku_order_qty"   jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
        <result property="totalSkuSupplyQty"  column="total_sku_supply_qty"  jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
        <result property="totalSkuDeliverQty" column="total_sku_deliver_qty" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
        <result property="totalSkuReturnQty"  column="total_sku_return_qty"  jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
        <result property="fulfillStatus"      column="fulfill_status"        jdbcType="TINYINT" javaType="java.lang.Integer" />
        <result property="ext"                column="ext"                   jdbcType="VARCHAR" javaType="java.lang.String" />
        <result property="createTime"         column="create_time"           jdbcType="INTEGER" javaType="java.lang.Integer" />
        <result property="updateTime"         column="update_time"           jdbcType="INTEGER" javaType="java.lang.Integer" />
        <result property="valid"              column="valid"                 jdbcType="TINYINT" javaType="java.lang.Integer" />
    </resultMap>

    <sql id="columns">
        id,
        order_code,
        region_code,
        address_code,
        address_info,
        order_amount,
        order_time,
        warehouse_code,
        warehouse_name,
        total_sku_order_qty,
        total_sku_supply_qty,
        total_sku_deliver_qty,
        total_sku_return_qty,
        fulfill_status,
        ext,
        create_time,
        update_time,
        valid
    </sql>

    <sql id="conditions">
        <if test="id != null">
            and id = #{id, jdbcType=BIGINT}
        </if>
        <if test="orderCode != null">
            and order_code = #{orderCode, jdbcType=BIGINT}
        </if>
        <if test="regionCode != null">
            and region_code = #{regionCode, jdbcType=INTEGER}
        </if>
        <if test="addressCode != null">
            and address_code = #{addressCode, jdbcType=BIGINT}
        </if>
        <if test="addressInfo != null">
            and address_info = #{addressInfo, jdbcType=VARCHAR}
        </if>
        <if test="orderAmount != null">
            and order_amount = #{orderAmount, jdbcType=DECIMAL}
        </if>
        <if test="orderTime != null">
            and order_time = #{orderTime, jdbcType=INTEGER}
        </if>
        <if test="warehouseCode != null">
            and warehouse_code = #{warehouseCode, jdbcType=VARCHAR}
        </if>
        <if test="warehouseName != null">
            and warehouse_name = #{warehouseName, jdbcType=VARCHAR}
        </if>
        <if test="totalSkuOrderQty != null">
            and total_sku_order_qty = #{totalSkuOrderQty, jdbcType=DECIMAL}
        </if>
        <if test="totalSkuSupplyQty != null">
            and total_sku_supply_qty = #{totalSkuSupplyQty, jdbcType=DECIMAL}
        </if>
        <if test="totalSkuDeliverQty != null">
            and total_sku_deliver_qty = #{totalSkuDeliverQty, jdbcType=DECIMAL}
        </if>
        <if test="totalSkuReturnQty != null">
            and total_sku_return_qty = #{totalSkuReturnQty, jdbcType=DECIMAL}
        </if>
        <if test="fulfillStatus != null">
            and fulfill_status = #{fulfillStatus, jdbcType=TINYINT}
        </if>
        <if test="ext != null">
            and ext = #{ext, jdbcType=VARCHAR}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime, jdbcType=INTEGER}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime, jdbcType=INTEGER}
        </if>
        <choose>
            <when test="valid != null">
                and valid = #{valid, jdbcType=TINYINT}
            </when>
            <otherwise>
                and valid = 1
            </otherwise>
        </choose>
    </sql>

    <sql id="select">
        select
        <include refid="columns" />
        from
        ofc_order_head
        <where>
            <include refid="conditions" />
        </where>
    </sql>

    <insert id="insert" parameterType="OfcOrderHead">
        insert into ofc_order_head
        <trim prefix="(" suffixOverrides="," suffix=")">
            id,
            <if test="orderCode != null">
                order_code,
            </if>
            <if test="regionCode != null">
                region_code,
            </if>
            <if test="addressCode != null">
                address_code,
            </if>
            <if test="addressInfo != null">
                address_info,
            </if>
            <if test="orderAmount != null">
                order_amount,
            </if>
            <if test="orderTime != null">
                order_time,
            </if>
            <if test="warehouseCode != null">
                warehouse_code,
            </if>
            <if test="warehouseName != null">
                warehouse_name,
            </if>
            <if test="totalSkuOrderQty != null">
                total_sku_order_qty,
            </if>
            <if test="totalSkuSupplyQty != null">
                total_sku_supply_qty,
            </if>
            <if test="totalSkuDeliverQty != null">
                total_sku_deliver_qty,
            </if>
            <if test="totalSkuReturnQty != null">
                total_sku_return_qty,
            </if>
            <if test="fulfillStatus != null">
                fulfill_status,
            </if>
            <if test="ext != null">
                ext,
            </if>
            create_time,
            update_time,
            <if test="valid != null">
                valid,
            </if>
        </trim>
        values
        <trim prefix="(" suffixOverrides="," suffix=")">
            #{id, jdbcType=BIGINT},
            <if test="orderCode != null">
                #{orderCode, jdbcType=BIGINT},
            </if>
            <if test="regionCode != null">
                #{regionCode, jdbcType=INTEGER},
            </if>
            <if test="addressCode != null">
                #{addressCode, jdbcType=BIGINT},
            </if>
            <if test="addressInfo != null">
                #{addressInfo, jdbcType=VARCHAR},
            </if>
            <if test="orderAmount != null">
                #{orderAmount, jdbcType=DECIMAL},
            </if>
            <if test="orderTime != null">
                #{orderTime, jdbcType=INTEGER},
            </if>
            <if test="warehouseCode != null">
                #{warehouseCode, jdbcType=VARCHAR},
            </if>
            <if test="warehouseName != null">
                #{warehouseName, jdbcType=VARCHAR},
            </if>
            <if test="totalSkuOrderQty != null">
                #{totalSkuOrderQty, jdbcType=DECIMAL},
            </if>
            <if test="totalSkuSupplyQty != null">
                #{totalSkuSupplyQty, jdbcType=DECIMAL},
            </if>
            <if test="totalSkuDeliverQty != null">
                #{totalSkuDeliverQty, jdbcType=DECIMAL},
            </if>
            <if test="totalSkuReturnQty != null">
                #{totalSkuReturnQty, jdbcType=DECIMAL},
            </if>
            <if test="fulfillStatus != null">
                #{fulfillStatus, jdbcType=TINYINT},
            </if>
            <if test="ext != null">
                #{ext, jdbcType=VARCHAR},
            </if>
            <choose>
                <when test="createTime != null">
                    #{createTime, jdbcType=INTEGER},
                    #{createTime, jdbcType=INTEGER},
                </when>
                <otherwise>
                    UNIX_TIMESTAMP(),
                    UNIX_TIMESTAMP(),
                </otherwise>
            </choose>
            <if test="valid != null">
                #{valid, jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="OfcOrderHead">
        update ofc_order_head
        <set>
            <if test="orderCode != null">
                order_code = #{orderCode, jdbcType=BIGINT},
            </if>
            <if test="regionCode != null">
                region_code = #{regionCode, jdbcType=INTEGER},
            </if>
            <if test="addressCode != null">
                address_code = #{addressCode, jdbcType=BIGINT},
            </if>
            <if test="addressInfo != null">
                address_info = #{addressInfo, jdbcType=VARCHAR},
            </if>
            <if test="orderAmount != null">
                order_amount = #{orderAmount, jdbcType=DECIMAL},
            </if>
            <if test="orderTime != null">
                order_time = #{orderTime, jdbcType=INTEGER},
            </if>
            <if test="warehouseCode != null">
                warehouse_code = #{warehouseCode, jdbcType=VARCHAR},
            </if>
            <if test="warehouseName != null">
                warehouse_name = #{warehouseName, jdbcType=VARCHAR},
            </if>
            <if test="totalSkuOrderQty != null">
                total_sku_order_qty = #{totalSkuOrderQty, jdbcType=DECIMAL},
            </if>
            <if test="totalSkuSupplyQty != null">
                total_sku_supply_qty = #{totalSkuSupplyQty, jdbcType=DECIMAL},
            </if>
            <if test="totalSkuDeliverQty != null">
                total_sku_deliver_qty = #{totalSkuDeliverQty, jdbcType=DECIMAL},
            </if>
            <if test="totalSkuReturnQty != null">
                total_sku_return_qty = #{totalSkuReturnQty, jdbcType=DECIMAL},
            </if>
            <if test="fulfillStatus != null">
                fulfill_status = #{fulfillStatus, jdbcType=TINYINT},
            </if>
            <if test="ext != null">
                ext = #{ext, jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime, jdbcType=INTEGER},
            </if>
            <choose>
                <when test="updateTime != null">
                    update_time = #{updateTime, jdbcType=INTEGER},
                </when>
                <otherwise>
                    update_time = UNIX_TIMESTAMP(),
                </otherwise>
            </choose>
            <if test="valid != null">
                valid = #{valid, jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id, jdbcType=BIGINT}
    </update>

    <update id="updateByFilter" parameterType="java.util.Map">
        update ofc_order_head
        <set>
            <if test="update.orderCode != null">
                order_code = #{update.orderCode, jdbcType=BIGINT},
            </if>
            <if test="update.regionCode != null">
                region_code = #{update.regionCode, jdbcType=INTEGER},
            </if>
            <if test="update.addressCode != null">
                address_code = #{update.addressCode, jdbcType=BIGINT},
            </if>
            <if test="update.addressInfo != null">
                address_info = #{update.addressInfo, jdbcType=VARCHAR},
            </if>
            <if test="update.orderAmount != null">
                order_amount = #{update.orderAmount, jdbcType=DECIMAL},
            </if>
            <if test="update.orderTime != null">
                order_time = #{update.orderTime, jdbcType=INTEGER},
            </if>
            <if test="update.warehouseCode != null">
                warehouse_code = #{update.warehouseCode, jdbcType=VARCHAR},
            </if>
            <if test="update.warehouseName != null">
                warehouse_name = #{update.warehouseName, jdbcType=VARCHAR},
            </if>
            <if test="update.totalSkuOrderQty != null">
                total_sku_order_qty = #{update.totalSkuOrderQty, jdbcType=DECIMAL},
            </if>
            <if test="update.totalSkuSupplyQty != null">
                total_sku_supply_qty = #{update.totalSkuSupplyQty, jdbcType=DECIMAL},
            </if>
            <if test="update.totalSkuDeliverQty != null">
                total_sku_deliver_qty = #{update.totalSkuDeliverQty, jdbcType=DECIMAL},
            </if>
            <if test="update.totalSkuReturnQty != null">
                total_sku_return_qty = #{update.totalSkuReturnQty, jdbcType=DECIMAL},
            </if>
            <if test="update.fulfillStatus != null">
                fulfill_status = #{update.fulfillStatus, jdbcType=TINYINT},
            </if>
            <if test="update.ext != null">
                ext = #{update.ext, jdbcType=VARCHAR},
            </if>
            <if test="update.createTime != null">
                create_time = #{update.createTime, jdbcType=INTEGER},
            </if>
            <choose>
                <when test="update.updateTime != null">
                    update_time = #{update.updateTime, jdbcType=INTEGER},
                </when>
                <otherwise>
                    update_time = UNIX_TIMESTAMP(),
                </otherwise>
            </choose>
            <if test="update.valid != null">
                valid = #{update.valid, jdbcType=TINYINT},
            </if>
        </set>
        <where>
            <if test="expect.id != null">
                and id = #{expect.id, jdbcType=BIGINT}
            </if>
            <if test="expect.orderCode != null">
                and order_code = #{expect.orderCode, jdbcType=BIGINT}
            </if>
            <if test="expect.regionCode != null">
                and region_code = #{expect.regionCode, jdbcType=INTEGER}
            </if>
            <if test="expect.addressCode != null">
                and address_code = #{expect.addressCode, jdbcType=BIGINT}
            </if>
            <if test="expect.addressInfo != null">
                and address_info = #{expect.addressInfo, jdbcType=VARCHAR}
            </if>
            <if test="expect.orderAmount != null">
                and order_amount = #{expect.orderAmount, jdbcType=DECIMAL}
            </if>
            <if test="expect.orderTime != null">
                and order_time = #{expect.orderTime, jdbcType=INTEGER}
            </if>
            <if test="expect.warehouseCode != null">
                and warehouse_code = #{expect.warehouseCode, jdbcType=VARCHAR}
            </if>
            <if test="expect.warehouseName != null">
                and warehouse_name = #{expect.warehouseName, jdbcType=VARCHAR}
            </if>
            <if test="expect.totalSkuOrderQty != null">
                and total_sku_order_qty = #{expect.totalSkuOrderQty, jdbcType=DECIMAL}
            </if>
            <if test="expect.totalSkuSupplyQty != null">
                and total_sku_supply_qty = #{expect.totalSkuSupplyQty, jdbcType=DECIMAL}
            </if>
            <if test="expect.totalSkuDeliverQty != null">
                and total_sku_deliver_qty = #{expect.totalSkuDeliverQty, jdbcType=DECIMAL}
            </if>
            <if test="expect.totalSkuReturnQty != null">
                and total_sku_return_qty = #{expect.totalSkuReturnQty, jdbcType=DECIMAL}
            </if>
            <if test="expect.fulfillStatus != null">
                and fulfill_status = #{expect.fulfillStatus, jdbcType=TINYINT}
            </if>
            <if test="expect.ext != null">
                and ext = #{expect.ext, jdbcType=VARCHAR}
            </if>
            <if test="expect.createTime != null">
                and create_time = #{expect.createTime, jdbcType=INTEGER}
            </if>
            <if test="expect.updateTime != null">
                and update_time = #{expect.updateTime, jdbcType=INTEGER}
            </if>
            <if test="expect.valid != null">
                and valid = #{expect.valid, jdbcType=TINYINT}
            </if>
        </where>
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        delete from ofc_order_head where id = #{id, jdbcType=BIGINT}
    </delete>

    <delete id="deleteByFilter" parameterType="OfcOrderHead">
        delete from ofc_order_head
        <where>
            <include refid="conditions" />
        </where>
    </delete>

    <select id="get" parameterType="java.lang.Long" resultMap="resultMap">
        select
          <include refid="columns" />
        from
          ofc_order_head
        where
          id = #{id, jdbcType=BIGINT}
    </select>

    <select id="findOne" parameterType="OfcOrderHead" resultMap="resultMap">
        <include refid="select" />
    </select>

    <select id="findList" parameterType="OfcOrderHead" resultMap="resultMap">
        <include refid="select" />
    </select>

    <select id="count" parameterType="OfcOrderHead" resultType="java.lang.Integer">
        select
          count(*)
        from
          ofc_order_head
        <where>
            <include refid="conditions" />
        </where>
    </select>

    <update id="update4Return" parameterType="java.util.Map">
        update
          ofc_order_head
        set
          total_sku_return_qty = total_sku_return_qty + #{skuReturnQty, jdbcType=DECIMAL},
          update_time = UNIX_TIMESTAMP()
        where
          order_code = #{orderCode, jdbcType=BIGINT}
         and total_sku_deliver_qty - total_sku_return_qty <![CDATA[>=]]> #{skuReturnQty, jdbcType=DECIMAL}
    </update>
</mapper>
